html {
    font-size: 62.5%;





    body {



        .wrapper {
            font-family: 'Roboto', sans-serif;
            overflow: hidden;

            .container {
                background: url("../../images/banner.jpg") no-repeat center;
                background-size: cover;
                min-height: 80vh;
                width: 100%;
                margin: 0 auto;

                header {


                    padding: 1rem 10%;

                    @media#{$wide} {
                        padding: 1rem 5% 0;
                    }

                    @media#{$tablet} {
                        padding: 1rem 5% 0;

                    }




                    nav {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid orange;
                        padding: 0 1rem 2rem;

                        @media#{$small-tablet} {
                            flex-wrap: wrap;
                            justify-content: center;
                        }

                        ul {
                            list-style-type: none;
                            padding: 0;
                        }

                        .logo {
                            width: 25rem;
                            height: 5.5rem;

                            @media#{$small-tablet} {
                                height: 100%;
                                max-width: 100%;
                                padding: 0 5%;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .socials {
                            display: flex;
                            justify-content: space-between;
                            width: 33.33333%;

                            @media#{$small-tablet} {
                                width: 50%;
                                justify-content: space-between;

                            }

                            li {
                                width: 4rem;
                                height: 4rem;
                                border: 1px solid black;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transition: background-color .5s, border .5s;

                                a {
                                    font-size: 1.5rem;
                                }

                                i {
                                    color: black;
                                }

                                &:hover {
                                    background-color: orange;
                                    border: 1px solid orange;
                                }

                                &:hover>a>i {
                                    color: white;
                                }


                            }
                        }

                        .search {
                            display: flex;

                            @media#{$small-tablet} {
                                padding: 0 20%;
                            }

                            li {
                                margin-right: 4rem;

                            }
                        }


                    }

                    .section-header {
                        padding: 5rem 2rem;

                        h1 {
                            font-size: $h1;
                            font-weight: 300;
                            margin-bottom: 0px;


                            .dsport {
                                font-size: $h1 + 10rem;
                                font-weight: 900;
                                line-height: 0.8;
                                display: inline-block;

                                @media#{$tablet} {
                                    font-size: inherit;
                                }

                                &::first-letter {
                                    color: orange;
                                }

                            }
                        }

                        .subtitle {
                            font-size: 2.3rem;
                        }

                        .readMore {
                            background-color: transparent;
                            border: 1px solid black;
                            width: 20rem;
                            height: 6rem;
                            font-size: 2rem;
                            transition: color 0.2s, background-color 0.2s;
                            margin-bottom: 4rem;

                            &:hover {
                                color: white;
                                background-color: black;

                            }

                            i {
                                margin-left: 1rem;
                            }
                        }

                    }

                }

            }
        }
    }


}