.prices {
    h2 {
        font-size: $h2;
        text-align: center;
        position: relative;
        top: -15rem;

        @media#{$tablet} {
            position: static;
        }

        span {
            color: orange;
        }

    }

    .price-plan {
        width: 60%;
        background-color: orange;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 8rem 0;

        @media#{$tablet} {
            flex-direction: column;
            content-align: center;
        }

        @media#{$phone} {
            width: 90%;

        }

        .card {
            width: 33.33333%;
            text-align: center;
            border-left: 1px solid white;



            &:first-child {
                border: none;
            }

            @media#{$tablet} {
                width: 100%;
                border: none;
                border-top: 1px solid white;
                padding-bottom: 4rem;
            }

            h3 {
                font-size: $h3;
                margin-bottom: 6rem;
                font-weight: 300;
            }

            span,
            p {
                font-size: 7rem;
                font-weight: 900;
                color: white;
            }

            p {
                font-weight: normal;
                margin: 2rem 0 6rem 0;
            }

            button {
                width: 70%;
                height: 5rem;
                background-color: white;
                border: none;
                font-size: 2rem;
                font-weight: 900;
                transition: background-color 0.2s, color 0.2s;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }

}