.review {
    text-align: center;
    width: 50%;
    margin: 0 auto;

    h2 {
        font-size: 7rem;
        color: orange;
    }

    h3 {
        color: orange;
        font-size: 1.8rem;
    }

    p {
        font-size: 1.7rem;
    }
}